# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
venv/
ENV/
env/

# Django
*.log
local_settings.py
db.sqlite3
staticfiles/
media/

# Env
.env
.env.local
*.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
*.pid

#scripts
upload_xmls.py

# Gunicorn e sockets
*.ctl
*.sock

# Adicione isso ao arquivo .gitignore na raiz do projeto
nginx/ssl/
nginx/nginx.conf
minio/
.env